# --- Android / IntelliJ ---
.gradle/
build/
*/build/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/caches
.idea/navEditor.xml
captures/
.externalNativeBuild/
.cxx/
local.properties

# --- Kotlin ---
.kotlin/
kotlin-daemon-embeddable-*.jar

# --- Gradle ---
.gradle-tree/
gradle-app.setting
.gradle-wrapper.jar

# --- Android Studio / Build Artifacts ---
*.apk
*.ap_
*.aab
*.aar
appctr/*.jar
*.dex
*.class
bin/
gen/

# --- Bundle Tool / Keystores ---
# Никогда не пушь ключи в репозиторий!
*.jks
*.keystore
*.p12
*.key
google-services.json
key_base64.txt

# --- Log files ---
*.log

# --- OS specific ---
.DS_Store
Thumbs.db

# --- Backup and Temp ---
*.bak
*.swp
*~